 @import './variables';
@import './mixins';
@import './font-kld-icons';

body {
    font-size: large;    
}

.section {
    padding: 6px;
    margin: 6px;
    border: 2px solid red;
    max-width: 400px;
  }

.ballon {
    color: red;
}


.ballon {

    &.ballon-blue {
        color: blue;
    }
    
}