
<div class="section">
    <app-ballon></app-ballon>
    <app-h-list></app-h-list>
    <app-v-list></app-v-list>
    <app-v-list [showChildList]='true' ></app-v-list>
</div>
<footer>
<hr>
links:
<ul>
    <li><a href="https://coryrylan.com/blog/css-encapsulation-with-angular-components">https://coryrylan.com/blog/css-encapsulation-with-angular-components</a> </li>
</ul>
Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
</footer>