dl.list {
    dt {
        font-weight: bold;
        text-decoration: underline;
    }
    dd {
        margin: 0;
        padding: 0 0 0.5em 0;       
    }
}

/*
::ng-deep .list dd .ballon {
    color: green;
}
*/


::ng-deep .ballon {
    &.app-dd-list {
        color: green;
    }
}