.section {
 border: green 2px solid; 
}

ul.list {
    
    padding: 0;
    list-style-type: none;

    li {
        display: inline;       
        margin: 10px;
    }
}

/* Before 1 
::ng-deep ul li i {
    color: green;
}
*/

/* Before 2
::ng-deep .list .ballon {
    color: green;
}
 */

/* After

::ng-deep .ballon {
    &.app-dd-list {
        color: green;
    }
}

*/