.section {
    border: blue 2px solid;    
}

dl {
    
     dt {
        padding: 0;
        margin: 0;
        float: left;
    }

    dd {
        padding: 0;
        margin: 0 0px 10px 0;
    }
}


::ng-deep dl dd:nth-of-type(2) .ballon {
    color: blue;
}




